#graph-container {
  border: cadetblue solid 1px;
  text-align: center;
}

svg {
  border: cadetblue solid 1px;
  position: relative;
}

.tooltip {
  background-color: gray;
  position: absolute;
  height: 50px;
  width: 100px;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}

.tooltip.show {
  display: flex;
}

.bar {
  fill: cadetblue;
}

.bar:hover {
  fill: black;
}
